* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #F6F5F5;
}

.container__general{
    width: 90%;
    margin: auto;
    box-shadow: 6px 0px 5px -5px #999, -6px 0px 5px -5px #999;
}

.nav-container {
    display: flex;
    align-items: center;
    height: 68px;
    background-color: #1687A7;
    color: #fff;
}
.nav-container img {
    height: 45px;
    margin-left: 12px;
}
.links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
}
.links-container li {
    display: flex;
    list-style: none;
}
.links-container li a {
    text-decoration: none;
    padding: 25px 30px;
    color: #fff;
}
.links-container li a:hover {
    background-color: #276678;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1687A7;
    color: #fff;
}
footer p {
    font-weight: bold;
    padding: 10px;
}
.footer-love:hover {
    color: rgb(255, 46, 46);
}
.redes-container {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.redes-dev {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.redes-dev i {
    font-size: 24px;
    color: #fff;
}
.redes-dev i:hover {
    color: #276678;
}

.container__general {
    width: 90%;
    margin: auto;
    box-shadow: 6px 0px 5px -5px #999,
    -6px 0px 5px -5px #999;
}
.tematica__main h1 {
    text-align: center;
    padding: 20px;
}
.tematica__main h3 {
    text-align: center;
    font-size: 24px;
}
.tematica__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tematica__img {
    display: flex;
    align-self: center;
    width: 70%;
}
.tematica__card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.tematica__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    background-color: #1687A7;
    color:#fff;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}
.tematica__card h2 {
    text-align: center;
    font-size: 16px;
    padding: 15px;
}
.tematica__card iframe {
    border-radius: 10px;
    width: 220px;
    height: 125px;
}
.tematica__card iframe:hover {
    z-index: 1;
}
.tematica__card img {
    position: absolute;
    width: 220px;
    height: 125px;
    object-fit: cover;
    top: 48px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.tematica__card img:hover {
    z-index: -1;
    opacity: 0;
}

.tematica__card p {
    padding: 15px 20px;
    font-style: italic;
}
.tematica__maps-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.tematica__maps-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D3E0EA;
    margin: 20px;
    border-radius: 10px;
    width: 40vw;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

}
.tematica__maps-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tematica__maps-card-content li {
    list-style: none;
    padding: 10px;
    font-size: 14px;
    font-style: italic;
}
.tematica__maps-card-content li:hover {
    background-color: #1687A7;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.tematica__maps-card iframe {
    border-radius: 50%;
    margin: 10px;
    margin-bottom: 20px;
    padding: 5px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.tematica__maps-card h4 {
    padding: 10px;
}

@media (max-width: 800px) {
    .tematica__maps-card {
        min-width: 250px;
    }
    .tematica__maps-card-content {
        flex-direction: column;
        align-items: center;
    }
    .tematica__maps-card-content li {
        text-align: center;
    }
}

/* START INFORMATION OF THE PEOPLES */

.title__principal--h1{
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

.content__perfiles{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.image__perfiles{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.diferente__color{
    background-color: #D3E0EA;
}

.information__perfil{
    width: 80%;
    height: 100%;
}

.title__info{
    padding-bottom: 20px;
    text-transform:uppercase;
    font-size:1.5em ;
    color: #276678;
}

.parrafo__info{
    font-size: 1.1em;
    color: #000;
}

.information__iniciatec{
    background-color: #fff;
    padding: 4em 0;
}

.title__iniciatec{
    font-size: 3em;
    text-align: center;
}

.content__iniciatec{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 95%;
    margin:auto ;
}

.image__iniciatec{
    width: 250px;
    height: 250px;
}

.parrafo__iniciatec{
    font-size: 1.3em;
    color: #000;
    width: 70%;
    padding-left: 3em;
}

.palabra__color{
    color: #276678;
    font-weight: bold;
}

.content__form{
    background-color: #D3E0EA;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    width: 40%;
    background-color: #F6F5F5;
    margin: 3%;
    padding: 30px;
    border-radius: 10px;
}

.options{
    display: flex;
    flex-direction: column;
}

.options > input {
    width: 100%;
    height: 35px;
    border: 0;
    outline: none;
    background-color: #e0e8ee;
    margin: 5px 0;
}

.message> textarea{
    width: 100%;
    height: 100px;
    border: 0;
    outline: none;
    background-color: #e0e8ee;
    margin: 5px 0;
    resize: none;
}

.form__button{
    width: 100%;
    background-color: #276678;
    border: 0;
    padding: 15px;
    margin: 20px 0;
    color: #fff;
    font-size:15px ;
}

.form__button:hover{
    background-color: #1687A7;
    cursor: pointer;
    font-weight: bold;
}

.required{
    color: rgb(197, 15, 15);
}

.text__required{
    font-size: 13px;
}
/* END PAGE ABOUT */